@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


:root {
  --brandColor: #00a6f4;
  --brandBg: #00a6f4;
  --background: #ffffff;
  --foreground: #171717;
}




@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }


}

@keyframes spin-smooth {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-smooth {
  animation: spin-smooth 8s linear infinite;
}











@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: popsins, sans-serif;
  overflow-x: hidden;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}






/*loading componennt css here */
/* HTML: <div class="loader"></div> */
.loadingWrper {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000085;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #3ca9ff 94%, #0000) left/20% 100%;
  background: linear-gradient(#3ca9ff 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}

@keyframes l17 {
  100% {
    background-size: 120% 100%
  }
}






.tooltipscostom::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2;
  right: 30px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 99;
  background: #ddd;
}




/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}







.react-colorful {
  height: 250px !important;
  width: 100% !important;
}

.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}

.react-colorful__hue {
  height: 60px;
  border-radius: 0 0 4px 4px;
}

.react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}










.swiper-pagination-bullet {
  background: #979797 !important;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: var(--brandColor) !important;
  transform: scale(1.2);
}